.corps{
    background-color: #F8F8FB;
    margin-left: 40px !important;
    margin-right: 40px !important;
    height: 600px;
}

.customDropdown{
    /* z-index: 2; */
    /* padding-top: 50%; */
}

#etat{
    color: red;
}